.intro-wrap {
  background: url(../images/marrakech.jpg) no-repeat;
  background-size: cover;
  margin-top: -20px;
  padding-top: 30px;
}

.intro {
  background-color: rgba($gray-lighter, 0.85);
}

.contact-details {
  text-align: center;
}
