.section {
  padding: 24px 0;
  border-bottom: 1px solid $gray-lighter;
}

body {
  padding-top: 85px;
}

@media (max-width: $screen-sm) {
  .navbar-brand {
    font-size: 22px;
  }

  .intro-wrap {
    padding: 10px;
  }
}
