.icon {
    fill: #fff;
    height: 32px;
    transition-duration: 0.4s;
    width: 32px;
}

.icon:hover {
    fill: #1B3C58;
}

.social-media-link {
    margin: 0 0.5em;
}

.social-media-link__text {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
}
