<h2>Publications</h2>

<div class="row">
    <div class="col-md-12">
        <h3>A Hacker's Guide to Git (2014)</h3>

        <p>This book explains some of Git’s core concepts including basic object storage, commits, branches and tags. It also contains in-depth explanations about the different kinds of merging in Git, including the much-feared rebase.</p>
        <p>
            <a class="label label-success" href="https://leanpub.com/a-hackers-guide-to-git">LeanPub</a>
            <a class="label label-primary" href="http://wildlyinaccurate.com/a-hackers-guide-to-git">Wildly Inaccurate</a>
        </p>

        <h3>HTML5: Features and Limitations (2010)</h3>

        <p>An analysis of the (then) forthcoming HTML5 specification. The summary of this publication was displayed at the first annual CITRENZ conference, along with a live demonstration of some the newly-released APIs in Google Chrome.</p>
        <p>
            <a class="label label-success" href="http://www.citrenz.ac.nz/conferences/2010/papers10/376.pdf">CITRENZ (Summary)</a>
        </p>
    </div>
</div>
