.header-links {
    font-size: $font-size-h2;
    line-height: $headings-line-height;
}

.header-link {
    padding: 0 0.5rem;
    position: relative;
}

.header-link__text {
    bottom: -($font-size-sm / 2);
    font-size: $font-size-sm;
    left: -50%;
    opacity: 0;
    position: absolute;
    transition-duration: 0.3s;
}

.header-link:hover .header-link__text {
    opacity: 1;
}
