.section {
    border-top: none;
    padding: ($spacer-y * 2.5) 0;

    & ~ & {
        border-top: $hr-border-width solid $hr-border-color;
    }

    .label {
        margin-right: 0.25rem;
    }
}

@media print {
    .section {
        padding: ($spacer-y * 1.5) 0;
    }
}
