$headings-font-weight: 400;
$primary: #73278c;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Liberation Sans", sans-serif;

// Core variables and mixins
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Core CSS
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/grid';

// // Components
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/badge';

// Utility classes
@import 'bootstrap/scss/utilities';

// ---------------

@import 'headings';
@import 'utilities';
@import 'section';
@import 'introduction';
@import 'print';
